version: "3.9"

services:
  switch:
    build:
      context: .
      dockerfile: Switch.Dockerfile
    container_name: "switch_${ID}"
    cap_add:
      - NET_ADMIN
    environment:
      TRACE_ID: ${TRACE_ID:-0}
      INTERVAL: 1.0
    networks:
      - expnet

  istream_player:
    build:
      context: .
      dockerfile: Player.Dockerfile
    container_name: "istream_player_${ID}"
    depends_on:
      - switch
    cap_add:
      - NET_ADMIN
    networks:
      - expnet
    volumes:
      - .:/src:z
      - ./control:/app/control:z
      - ${EXPERIMENT_CONFIG}:/app/experiment_config.yaml:ro
    environment:
      ID: ${ID:-0}
      EXP_STR: ${EXP_STR:-}
      CONTROL_FILE: /app/control/run.flag
      LAMDA: ${LAMDA:-0.5}
      NODE_ID: ${NODE_ID:-0}
      ISTREAM_CONFIG: ${ISTREAM_CONFIG:-./resources/online.yaml}
      EXPERIMENT_CONFIG: ${EXPERIMENT_CONFIG}
    command: ["/src/start_player.sh"]

networks:
  expnet:
    driver: bridge