services:
  istream_player:
    image: pyrabbit-player:latest
    container_name: "istream_player_${ID}"
    volumes:
      - .:/src:z
      - ./control:/app/control:z
    environment:
      ID: ${ID:-0}
      EXP_STR: ${EXP_STR:-}
      CONTROL_FILE: /app/control/run.flag
      LAMDA: ${LAMDA:-0.5}
      NODE_ID: ${NODE_ID:-0}
      ISTREAM_CONFIG: ${ISTREAM_CONFIG:-./resources/online.yaml}
      BANDWIDTH_MIN: ${BANDWIDTH_MIN:-500}
      BANDWIDTH_MAX: ${BANDWIDTH_MAX:-5000}
    cap_add:
      - NET_ADMIN
    devices: 
      - /dev/net/tun
    working_dir: /src
    entrypoint: ["python3", "/src/wrapper.py"]